#inicio {
  flex-grow: 1;
}

#presentacion {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.caption {
  background-color: rgba(104, 104, 255, 0.4);
  text-align: center;
}

img {
  max-width: 90%;
  height: auto;
  margin: 1rem;
}

#about {
  text-align: center;
}

#estudios {
  text-align: center;
}

#estudios ul {
  display: inline-flex;
  flex-direction: column;
}

#estudios div {
  margin: 1rem;
}

#projects {
  text-align: center;
}
