@media ((min-width: 768px) and (max-width: 1080px)) {
  nav ul li {
    font-size: 2.2vw;
  }

  #about {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #about section {
    flex: 0 0 40%;
  }

  #estudios {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #estudios div {
    flex: 0 0 30%;
  }

  #estudios ul {
    display: inline-flex;
    flex-direction: column;
  }

  #projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  #projects div {
    flex: 0 0 30%;
  }
}

@media ((min-width: 1081px) and (max-width: 1366px)) {
  nav ul li {
    font-size: 1.8vw;
  }

  #about {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #about section {
    flex: 0 0 40%;
  }

  #estudios {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #estudios div {
    flex: 0 0 30%;
  }

  #estudios ul {
    display: inline-flex;
    flex-direction: column;
  }

  #projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  #projects div {
    flex: 0 0 30%;
  }
}

@media ((min-width: 1367px) and (max-width: 1920px)) {
  nav ul li {
    font-size: 1.3vw;
  }

  #about {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #about section {
    flex: 0 0 40%;
  }

  #estudios {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #estudios div {
    flex: 0 0 30%;
  }

  #estudios ul {
    display: inline-flex;
    flex-direction: column;
  }

  #projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  #projects div {
    flex: 0 0 30%;
  }
}
