nav {
  background-color: #19a7ce;
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav ul {
  background-color: inherit;
  display: flex;
  justify-content: space-evenly;
  font-size: 3vw;
}

nav ul li {
  background-color: inherit;
  list-style: none;
}
